@font-face {
		font-family:"HelveticaNeueLTStd-Th";
		src:url("../lib/ionic/fonts/2EC2CB_2.svg#HelveticaNeueLTStd-Th") format("svg");
	}

@font-face {
		font-family:"HelveticaNeueLTStd-UltLt";
		src:url("../lib/ionic/fonts/2EC2CB_1.svg#HelveticaNeueLTStd-UltLt") format("svg");
	}

@font-face {
    font-family:"HelveticaNeueLTStd-Lt";
    src:url("../lib/ionic/fonts/2EC2CB_0.svg#HelveticaNeueLTStd-Lt") format("svg");
  }

@font-face {
		font-family:"HelveticaNeueLTStd-Md";
		src:url("../lib/ionic/fonts/2EC2CB_3.svg#HelveticaNeueLTStd-Md") format("svg");
	}

/* Nav bar */

.bar {
	background: none;
}

.bar-header {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	border: none;
	height: 50px;
	width: 100%;
	background-color: #0a4e5c;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar .title {
    padding-top: 4px;
}

.platform-ios.platform-cordova:not(.fullscreen) .logo text {
    margin-top: 20px;
}

.bar .title {
	font-family: HelveticaNeueLTStd-Lt;
	padding-top: 9px;
	font-size: 13pt;
	color: #f5f5f5;
}

.bar .button.button-icon {
	border: 0px;
	padding: 0px;
	padding-right: 12px;
	margin: 0px;
	margin-left: -1px;
}

.bar .button.button-icon:before {
	font-size: 20pt;
	color: #f5f5f5;
}

.bar .button.button-icon.ion-navicon:before {
	font-size: 22pt;
	margin-top: -2px;
}

/* Core */

.pane {
	background-color: #ffffff;
}

.item {
	background-color: transparent;
	padding: 19px 0px 15px 0px;
	width: 100%;

}

.item h2 {
	color: #107b91;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 13pt;
	line-height: 14pt;
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
	margin-bottom: -20px;
}

.item p {
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	color: #000000;
	font-family: HelveticaNeueLTStd-Th;
	font-size: 13pt;
	line-height: 16pt;
	width: 100%;
	letter-spacing: 0.5pt;
}

.item-bar {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.item-bar-add {
	padding-bottom: 20px;
}

.item.item-input {
	padding: 10px 20px 5px 20px;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 13pt;
	height: 50px;
}

.item.item-input input {
	font-family: HelveticaNeueLTStd-Lt;
	padding-top: 5px;
	font-size: 13pt;
	line-height: 15pt;
}

body {
	font-family: HelveticaNeueLTStd-Lt, Arial, sans-serif;
	font-size: 11pt;
	text-rendering: auto;
}

.has-header {
	top: 50px;
}

.row {
	padding: 0px;
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: middle;
}

.col {
	margin-bottom: 0px;
	padding: 0px;
	vertical-align: middle;
}

.col.col-left-botext {
	margin-bottom: -3px;
	text-align: left;
}

.col.col-right-botext {
	margin-bottom: -3px;
	text-align: right;
}

.col.col-min {
	text-align: left;
	display: inline;
}

.col.col-right {
	text-align: right;
}

.col.col-left {
	text-align: left;
}

.col.col-center {
	text-align: center;
	vertical-align: middle;
}

.modal {
	background-color: #f5f5f5;
	padding-top: 20px;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.bigtext {
	margin: 0px;
	padding: 0px;
	font-family: HelveticaNeueLTStd-UltLt;
	font-size: 60pt;
	letter-spacing: 1pt;
	margin-bottom: 60px;
	color: #16a8c6;
}

p {
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	color: #000000;
	font-family: HelveticaNeueLTStd-Th;
	font-size: 13pt;
	line-height: 16pt;
	width: 100%;
	letter-spacing: 0.5pt;
}

p input {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	color: #000000;
	font-family: HelveticaNeueLTStd-Th;
	font-size: 13pt;
	line-height: 16pt;
	width: 100%;
	letter-spacing: 0.5pt;
}

p textarea {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
	color: #000000;
	font-family: HelveticaNeueLTStd-Th;
	font-size: 13pt;
	line-height: 16pt;
	width: 100%;
}

/* Title */
h1 {
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 13pt;
	line-height: 16pt;
	color: #000000;
	padding: 0px;
	width: 100%;
	margin: 0px;
}

h1 textarea {
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 13pt;
	line-height: 16pt;
	color: #000000;
	padding: 0px;
	display: block;
	margin-bottom: 10px;
}

h1 input {
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 13pt;
	line-height: 16pt;
	color: #000000;
	padding: 0px;
	padding-top: 10px;
	margin-bottom: 5px;
}

/* Name teal */
h2 {
	margin: 0px;
	padding: 0px;
	color: #107b91;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 11pt;
	line-height: 19px;
	display: inline-block;
}

/* Location teal */
h3 {
	margin: 0px;
	padding: 0px;
	padding-bottom: 0px;
	margin-bottom: -3px;
	color: #16a8c6;
	font-family: HelveticaNeueLTStd-Lt;
	display: inline-block;
	font-size: 13pt;
	line-height: 16pt;
}

.suggestion-header h3 {
	margin-bottom: 5px;
}

.item h3 {
	margin: 0px;
	padding: 0px;
	padding-bottom: 0px;
	margin-bottom: -3px;
	color: #16a8c6;
	font-family: HelveticaNeueLTStd-Lt;
	display: block;
	font-size: 13pt;
	line-height: 21pt;
}

/* Timestamp */

h4 {
	margin: 0px;
	padding: 0px;
	color: #999999;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 11pt;
	display: inline-block;
}

.item h4 {
	margin: 0px;
	padding: 0px;
	color: #999999;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 11pt;
	display: block;
}

h5 {
	margin: 0px;
	padding: 0px;
	color: #AAAAAA;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 11pt;
}

.status-flag {
	display: inline-block;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.status-flag.green {
	color: #19D175;
}

.status-flag.red {
	color: #FF4747;
}

.status-flag.yellow {
	color: #CCCC00;
}

.status-flag.grey {
	color: #999999;
}

.status-flag h3 {
	margin-bottom: 5px;
	margin-top: 0px;
}

.status-flag p {
	margin-top: 10px;
}

h6 {
	margin: 0px;
	padding: 0px;
	color: inherit;
	font-family: HelveticaNeueLTStd-Lt;
	display: inline-block;
	font-size: 13pt;
}

.item h6 {
	margin: 0px;
	padding: 0px;
	color: #107b91;
	font-weight: bold;
	display: inline-block;
	font-size: 11pt;
}

/* Icons */

.icon.ion-reply {
	color: inherit;
	font-size: 14pt;
	margin-right: 5px;
}

.icon.ion-chatbubble {
	color: inherit;
	font-size: 12pt;
	margin-right: 1px;
}

.icon.ion-ios-at {
	color: #107b91;
	font-size: 40pt;
}


/* list-problems, mobile + desktop */

.multi {
	width: 100%;
	padding: 2%;
}

.multi h5 {
	margin-left: 2%;
}

.wrap {
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	position: relative;
	display: block;
}

.col.mini-suggestion {
	text-align: left;
	display: inline-block;
	margin: 2%;
	width: 46%;
	padding-bottom: 45.5%;
	position: relative;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px #AAAAAA;
}

.col.mini-suggestion.new {
	position: absolute;
}

.col.mini-suggestion.new .mini-title {
	margin-top: -25px;
}

.mini-image-container {
	width: 100%;
	padding-bottom: 61.803398875%;
	background-color: #ffffff;
	overflow: hidden;
	position: relative;
}

.mini-image-container img {
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
    height: auto;
}

.mini-ent {
	padding: 5% 5% 0 5%;
	overflow: hidden;
	height: 27px;
}

.mini-title {
	padding: 0 5% 5% 5%;
	height: 45%;
	overflow: hidden;
	position: absolute;
}

.mini-footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 0px 5% 5% 5%;
	margin-bottom: -4%;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 12pt;
	color: #16a8c6;
}

.mini-status {
	text-align: right;
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 0px 10px 10px 10px;
	margin-bottom: -8px;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 12pt;
}

.suggestion {
	position: relative;
	height: 100%;
}

.overlay-message {
	position: absolute;
	padding: 10px;
	border-radius: 4px;
	top: -60px;
	left: calc(50% - 93px);
	z-index: 10;
	background-color: #107b91;
	color: #f5f5f5;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 11pt;
}

.detailed-suggestion {
	position: relative;
}

.suggestion-header {
	padding-top: 20px;
	background-color: #ffffff;
}

.suggestion-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.suggestion-description {
	margin-top: 10px;
	overflow: hidden;
}

.detailed-suggestion-description {
	margin-top: 10px;
	overflow: hidden;
}

.suggestion-details {
	padding-top: 0px;
	padding-bottom: 20px;
}
.suggestion-response {
	padding-top: 20px;
}

.suggestion-img-container {
	width: 100%;
	padding-bottom: 61.803398875%;
	background-color: #f5f5f5;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 4px #aaaaaa;
}

.suggestion-img-container img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
    height: auto;
}

.scroll-view {
	position: absolute;
	height: 100%;
	width: 100%;
}

.detailed-suggestion-map {
	width: 100%;
	position: absolute;
	padding-bottom: 30.9016994375%;
	overflow: hidden;
	position: relative;
}

.suggestion-map-preview {
	width: 100%;
	position: absolute;
	padding-bottom: 30.9016994375%;
	margin-top: -18px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

.invisible-button {
	width: 100%;
	height: 100%;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;

}

.inner-line {
	border-top: 1px solid #CCCCCC;
	opacity: 0.5;
	position: relative;
	width: calc(100% - 40px);
	left: 20px;
	margin-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0pt;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 100%;
	z-index: 3;
	box-shadow: 0px 0px 4px #aaaaaa;
	color: #16a8c6;
}

.footer h1 {
	padding-top: 3px;
}

.bar-footer {
	margin: 0px;
	padding: 0px;
}

.detailed-footer {
	position: absolute;
	bottom: 0px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 100%;
	border-bottom: #16a8c6 1px solid;
	background-color: #ffffff;
	color: #16a8c6;
	box-shadow: 0px 0px 5px #aaaaaa;
}

.detailed-footer h1 {
	padding-top: 3px;
}

.action-bar {
	margin-top: 40px;
}

.suggestion-respond {
	margin-bottom: 20px;
}

.suggestion-respond textarea {
	border: 0px;
	width: 100%;
	background-color: #f5f5f5;
	padding: 0px;
	line-height: 20px;
	color: #107b91;
	font-weight: normal;
	font-size: 11pt;
}

/* Welcome */

.welcome {
	text-align: center;
	padding: 0px 30px 30px 30px;
	vertical-align: middle;
}

.welcome-cancel {
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px 0px 0px 14px;
	font-size: 40pt;
}

.welcome-cancel button {
	font-size: 20pt;
	color: #999999;
}

/* Buttons */

.clear-search {
	position: absolute;
	top: 17px;
	right: 20px;
	z-index: 10;
	color: #999999;
}

.button {
	z-index: 10;
}

.button-blue {
	border: none;
	background-color: transparent;
	display: block;
	color: #16a8c6;
	border-radius: 4px;
	border: 1px solid #16a8c6;
	width: 100%;
}

.button-blue.activated {
	color: #ffffff;
	background-color: #16a8c6;
}

.button.button-positive {
	border: none;
	background-color: #16a8c6;
	display: block;
	color: #ffffff;
	border-radius: 4px;
	border: 1px solid #16a8c6;
	width: 100%;
}

.button.button-positive.activated {
	color: #ffffff;
	background-color: #107b91;
}

.button-grey {
	font-family: HelveticaNeueLTStd-Lt;
	padding-top: 5px;
	font-size: 13pt;
	border: none;
	background-color: transparent;
	display: block;
	color: #CCCCCC;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	width: 100%;
}

.button-grey.activated {
	border: none;
	background-color: transparent;
	display: block;
	color: #CCCCCC;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	width: 100%;
	box-shadow: none;
}

.button.button-grey:hover {
	color: #CCCCCC;
}

.button.button-clear {
	border-radius: 4px;
	border: 1px solid #16a8c6;
	height: 30px;
	line-height: 20pt;
	margin-top: -3px;
}

.button-clear {
	padding: 0px 8px;
}

.bar .button.button-clear {
	padding: 0px 8px;
}

.bar .button.button-clear.activated {
	padding: 0px 8px;
}

.button.button-clear.activated {
	background-color: #16a8c6;
	opacity: 1;
}

.button.button-clear.activated h3 {
	color: #ffffff;
	padding-top: 0px;
}

.button.button-follow {
	display: inline-block;
	color: #16a8c6;
	background-color: transparent;
	border-width: 1px;
	border-radius: 3px;
	font-size: 11pt;
	text-align: center;
	padding: 0px;
	padding-top: 3px;
	border-color: #16a8c6;
	width: 100px;
	height: 25px;
	font-family: inherit;
	line-height: 12pt;
}

.button.button-following {
	display: inline-block;
	color: #ffffff;
	background-color: #16a8c6;
	border-width: 1px;
	border-radius: 3px;
	font-size: 11pt;
	text-align: center;
	padding: 0px;
	padding-top: 3px;
	border-color: #16a8c6;
	width: 100px;
	height: 25px;
	font-family: inherit;
	line-height: 12pt;
}

.button.suggestion-camera:before {
	font-size: 30pt;
	text-align: center;
}

.button.suggestion-camera {
	position: absolute;
	z-index: 10;
	right: 10px;
	bottom: 10px;
	padding: 3px 3px 3px 3px;
	width: 46px;
	height: 46px;
	border: none;
	background-color: #f5f5f5;
	color: #16a8c6;
}

.button.suggestion-picture:before {
	font-size: 23pt;
	text-align: center;
}

.button.suggestion-picture {
	position: absolute;
	z-index: 10;
	right: 61px;
	bottom: 10px;
	padding: 3px 3px 3px 3px;
	width: 46px;
	height: 46px;
	border: none;
	background-color: #f5f5f5;
	color: #16a8c6;
}

.button {
	min-width: 0;
	min-height: 0;
}

.button.ion-android-share-alt:before {
	font-size: 20pt !important;
	line-height: 30pt !important;
}

.button.ion-android-share-alt {
	border: 0px;
	border-color: none;
	background-color: transparent;
	color: #16a8c6;
	padding: 0px;
	margin: 0px;
	margin-top: -7px;
	margin-bottom: -20px;
	margin-right: 17px;
}

.button.ion-ios-undo-outline {
	border: 0px;
	border-color: none;
	background-color: transparent;
	color: #16a8c6;
	padding: 1px;
	margin: 0px;
}

.button-bar {
	padding: 0px 20px 20px 20px;
	height: 50px;
}

.button-bar > .button {
	border-color: #16a8c6;
	background-color: transparent;
	color: #16a8c6;
	padding: 0px;
	font-size: 11pt;
	line-height: 22pt;
}

.button-bar > .button.selected {
	border-color: #16a8c6;
	background-color: #16a8c6;
	color: #ffffff;
	padding: 0px;
	font-size: 11pt;
	line-height: 22pt;
}

.respond-button {
	font-size: 10pt;
	border: 0px;
	border-color: none;
	background-color: transparent;
	color: #16a8c6;
	padding: 4px;
	margin: 0px;
}

/* Side menu */

.side-menu {
	height: 100%;
	font-family: HelveticaNeueLTStd-Lt;
	background-color: #107b91;
}

.side-menu-shadow {
	background: grey;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 100%;
	box-shadow: 0px 0px 10px 0px #0a4e5c;
}

.logo {
	height: 50px;
	position: relative;
}

.logo text {
	position: absolute;
	padding-left: 10pt;
	top: 20pt;
	font-size: 25pt;
	font-family: HelveticaNeueLTStd-UltLt;
	color: white;
	letter-spacing: 1pt;
}

.logo img {
	width: 90px;
	height: 30px;
}

.side-menu-list {
	margin-top: 20pt;
}

.side-menu-item {
	padding-top: 12pt;
	padding-bottom: 10pt;
	padding-left: 10pt;
	padding-right: 10pt;
	display: block;
	color: #f5f5f5;
}

.side-menu-item.active {
	background-color: #0a4e5c;
	font-family: inherit;
	color: #f5f5f5;
}

.side-menu-item.bold h6 {
	font-family: HelveticaNeueLTStd-Md;
}

.side-menu-item.nolink {
	color: #0a4e5c;
	padding-bottom: 0pt;
}

.side-menu-item.sub {
	padding-left: 30px;
}

.divider {
	display: block;
	border-top: 1px solid #CCCCCC;
	opacity: 0.5;
	border-style: solid;
	border-color: #16a8c6;
	position: relative;
}

.menu-footer {
	padding-left: 10pt;
	padding-right: 10pt;
	text-align: left;
	position: absolute;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 13pt;
	width: 100%;
	bottom: 10pt;
	color: #0a4e5c;
}

/* file-problem */

input[type="text"] {
	background-color: inherit;
	color: inherit;
	height: inherit;
	line-height: inherit;
	display: inherit;
	width: 100%;
	padding: 0px;
	margin: 0px;
	vertical-align: inherit;
	font-size: inherit;
	font-weight: inherit;
}

textarea {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	width: 100%;
	display: block;
	background-color: inherit;
	line-height: inherit;
	margin-bottom: inherit;
	resize: none;
}

/* file-problem-select-entity */

.scroll {
	height: 100%;
	width: 100%;
}

.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

/* Entity Profile */

.profile-topper {
	background-color: #ffffff;
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px #aaaaaa;
}

.profile-header {
	padding: 0px;
	margin: 0px;
	padding-top: 20px;
}

.user-profile-header {
	padding: 0px;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.user-profile-header h1 {
	margin-bottom: 5px;
}

.user-stats h1 {
	padding: 0px;
	margin: 0px;
	font-size: 15pt;
}

.user-stats h4 {
	font-size: 90%;
}

.stats-row  {
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
	width: 100%;
}

.profile-header h1 {
	margin-bottom: 10px;
	font-size: 15pt;
}

.profile-buttons {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

.profile-stats {
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
	margin-top: 20px;
}

.profile-stats h1 {
	margin-bottom: 3px;
	font-size: 15pt;
}

/* Settings */

.item.item-divider b {
	vertical-align: middle;
	line-height: 14pt;
}
