@font-face {
		font-family:"HelveticaNeueLTStd-Th";
		src:url("/site/fonts/2EC2CB_2.svg#HelveticaNeueLTStd-Th") format("svg");
	}

@font-face {
		font-family:"HelveticaNeueLTStd-UltLt";
		src:url("/site/fonts/2EC2CB_1.svg#HelveticaNeueLTStd-UltLt") format("svg");
	}


body {
	margin: 0px;
	background-color: #ffffff;
	text-align: center;
}

table {
	margin: 0px;
	margin-bottom: 5%;
}

td {
	vertical-align: top;
	padding-bottom: 5%;

}

a {
	color: #16a8c6;
	text-decoration: none;
}

button {
	background: url("/site/img/button.png") no-repeat;
	background-size: 142.4px;
	width: 143px;
	height: 35px;
	border: 0px;
	color: #16a8c6;
	font-size: 1.1em;
	letter-spacing: 0.05em;
	font-weight: 200;
	font-family: HelveticaNeueLTStd-Lt;
	padding: 0px;
	margin-left: 2.5%;
	display: inline-block;
}

input {
	height: 2em;
	width: 200px;
	display: inline-block;
	font-size: 1em;
	padding-left: 2%;
	margin: 0px;
	border: none;
	font-family: HelveticaNeueLTStd-Th;
	letter-spacing: 0.07em;
	color: #000000;
	background-color: #f8f8f8;
}

h1 {
	font-family: HelveticaNeueLTStd-UltLt;
	font-size: 1.6em;
	font-weight: 100;
	margin-top: 5%;
	margin-bottom: 10%;
	letter-spacing: 0.03em;
	color: #000000;
}

h2 {
	font-family: HelveticaNeueLTStd-Th;
	line-height: 1em;
	font-size: 1.2em;
	font-weight: 200;
	margin-bottom: 0px;
	margin-top: 2%;
	padding-left: 2%;
	letter-spacing: 0.04em;
	color: #107b91;
}

h3 {
	font-family: HelveticaNeueLTStd-UltLt;
	font-size: 1.6em;
	display: inline-block;
	font-weight: 100;
	margin-bottom: 0px;
	margin-top: 2%;
	margin-right: 5%;
	letter-spacing: 0.05em;
	vertical-align: middle;
	color: #999999;
}

h4 {
	position: absolute;
	top: 0px;
	left: 12%;
	font-family: HelveticaNeueLTStd-Th;
	display: inline-block;
	height: 50px;
	font-size: 1.1em;
	letter-spacing: 0.02em;
	margin-top: 0;
	line-height: 1.1em;
	margin-left: 5%;
	padding-top: 1.5%;
	color: #107b91;
}

.app {
	position: relative;
	height: 50px;
	margin-top: 5%;
	margin-bottom: 10%;
}

.mini-app {
	position: relative;
	left: calc(50% - 25px);
}

.app-icon {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	background-color: #0a4e5c;
	width: 50px;
	height: 50px;
	border-radius: 23%;
}

.logo img {
	width: 156px;
}

p {
	font-family: HelveticaNeueLTStd-Th;
	font-size: 0.9em;
	margin-top: 2%;
	margin-bottom: 1%;
	padding-left: 2%;
	font-weight: 200;
	letter-spacing: 0.06em;
	color: #999999;
}

.table-narrow {
	display: none;
}

table {
	margin-bottom: 0;
}

.outer-container {
	display: flex;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-box-align: center;
	-moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-pack: center; -moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	margin: 0;
	height: 100%;
 	width: 100%; /* needed for Firefox */
	padding: 0px;
	padding-top: 2%;
	flex-direction: row;
}

.left {
	order: 1;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	max-width: 475px;
	max-height: 985px;
	min-width: 400px;
	min-height: 985px;

	display: flex;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-box-align: center; -moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center; -moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.right {
	order: 2;
	flex-grow: 1;
	max-width: 475px;
	max-height: 985px;
	min-width: 400px;
	min-height: 985px;
	text-align: left;

	display: flex;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-box-align: center; -moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center; -moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.left img {
	display: block;
	position: absolute;
	top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
	max-width: 100%;
}

.thankyou {
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.thankyou p {
	margin: 0;
	padding: 0;
}

.thankyou h1 {
	margin: 0;
	padding: 0;
}

.thankyou p b {
	margin: 0;
	padding: 0;
	color: #107b91;
}

.thankyou h2 {
	margin: 0;
	padding: 0;
}

.mini-logotext {
	position: relative;
	left: calc(50% - 79.5px);
	font-family: HelveticaNeueLTStd-UltLt;
	width: 159px;
	height: 59px;
	font-size: 400%;
	padding: 0px;
	margin: 0px;
	text-indent: -3px;
	line-height: 89%;
	background: -webkit-linear-gradient(left, #0a4e5c, #16a8c6);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
	display: inline-block;
	position: relative;
	text-align: left;
	padding-right: 20%;
	padding-bottom: 10%;
}

.mobile-preview {
	display: none;
}

.icon {
	width: 40px;
}

.footer {
	margin-top: 7%;
	height: 30px;
}

.footer img {
	height: 30px;
	vertical-align: middle;
}

@media all and (max-width: 850px) {

	button {
		background: url("img/button.png") no-repeat;
		background-size: 142.4px;
		width: 143px;
		height: 35px;
		border: 0px;
		color: #16a8c6;
		font-size: 1.1em;
		letter-spacing: 0.05em;
		font-weight: 200;
		padding: 0px;
		margin-left: 2.5%;
		margin-bottom: 5%;
		display: inline-block;
	}

	input {
		height: 2em;
		width: 200px;
		display: inline-block;
		font-size: 1em;
		padding-left: 0;
		text-align: center;
		margin: 0px;
		border: none;
		color: #000000;
		background-color: #f8f8f8;
		margin-bottom: 5%;
	}

	.outer-container {
		display: flex;
		display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
		display: -moz-box;      /* OLD: Firefox (buggy) */
		display: -ms-flexbox;   /* MID: IE 10 */
		display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
		display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

		-webkit-box-align: flex-start;
		-moz-box-align: flex-start; /* OLD… */
		-ms-flex-align: flex-start; /* You know the drill now… */
		-webkit-align-items: flex-start;
		align-items: flex-start;

		-webkit-box-pack: flex-start;
		-webkit-flex-align: flex-start;
		-moz-box-pack: flex-start;
		-ms-flex-pack: flex-start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;

		margin: 0;
		height: 100%;
	 	width: 100%; /* needed for Firefox */
		flex-direction: column;
	}

	.left {
		display: none;
	}

	.right {
		order: 1;
		flex-grow: 1;
		max-width: 600px;
		max-height: 100%;
		min-width: 200px;
		text-align: center;

		display: flex;
		display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
		display: -moz-box;      /* OLD: Firefox (buggy) */
		display: -ms-flexbox;   /* MID: IE 10 */
		display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
		display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

		-webkit-box-align: flex-start;
		-webkit-flex-align: flex-start;
		-moz-box-align: flex-start; /* OLD… */
		-ms-flex-align: flex-start; /* You know the drill now… */
		-webkit-align-items: flex-start;
		align-items: flex-start;

		-webkit-box-pack: flex-start; -moz-box-pack: flex-start;
		-ms-flex-pack: flex-start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;

		margin-top: 5%;
		margin-bottom: 10%;
	}

	.logotext {
		position: relative;
		left: calc(50% - 79.5px);
	}

	.left img {
		display: block;
		position: absolute;
		top: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;
		max-width: 100%;
	}

	.info {
		display: inline-block;
		position: relative;
		text-align: center;
		padding: 10%;
		padding-top: 0%;
	}

	.mobile-preview {
		width: 100%;
		padding-bottom: 165%;
		position: relative;
		overflow: hidden;
		display: inline-block;
	}

	.mobile-preview img {
		position: absolute;
		top: 0px;
		left: 0px;
	  margin: auto;
		max-width: 100%;
	}

	.table-narrow {
		display: inline-block;
		text-align: center;
	}

	.table-narrow table {
		text-align: center;
	}

	.table-wide {
		display: none;
	}

	.icon {
		width: 40px;
	}

	h4 {
		position: absolute;
		top: 45px;
		left: calc(50% - 150px);
		width: 300px;
		font-family: HelveticaNeueLTStd-Th;
		display: inline-block;
		font-size: 1em;
		padding: 0;
		margin: 0;
		padding-top: 2.5%;
	}

	.app {
		position: relative;
		height: 95px;
		text-align: center;
		margin-top: 2%;
		margin-bottom: 8%;
	}

	.mini-app {
		position: relative;
		left: 0;
	}

	.app-icon {
		position: absolute;
		top: 0px;
		left: calc(50% - 25px);
		display: inline-block;
		background-color: #0a4e5c;
		width: 50px;
		height: 50px;
		border-radius: 23%;
	}

	.footer {
		margin: 0;
		margin-bottom: 5%;
		height: 30px;
		text-align: center;
	}

}
