@font-face {
		font-family:"HelveticaNeueLTStd-Th";
		src:url("/s/fonts/2EC2CB_2.svg#HelveticaNeueLTStd-Th") format("svg");
	}

@font-face {
		font-family:"HelveticaNeueLTStd-UltLt";
		src:url("/s/fonts/2EC2CB_1.svg#HelveticaNeueLTStd-UltLt") format("svg");
	}

@font-face {
    font-family:"HelveticaNeueLTStd-Lt";
    src:url("/s/fonts/2EC2CB_0.svg#HelveticaNeueLTStd-Lt") format("svg");
  }

@font-face {
		font-family:"HelveticaNeueLTStd-Md";
		src:url("/s/fonts/2EC2CB_3.svg#HelveticaNeueLTStd-Md") format("svg");
	}

body {
	font-family: HelveticaNeueLTStd-Th;
	color: #000000;
	font-size: 12pt;
	font-weight: normal;
	letter-spacing: 105%;
}

a {
	text-decoration: none;
}

h1 {
	display: inherit;
	margin: 0;
	font-family: HelveticaNeueLTStd-Md;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
}

p {
	display: inline;
	margin: 0;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
}

h2 {
	display: inherit;
	margin: 0;
	font-family: HelveticaNeueLTStd-Lt;
	color: #107b91;
	font-size: 12pt;
	font-weight: normal;
}

h3 {
	display: inherit;
	margin: 0;
	font-family: HelveticaNeueLTStd-Lt;
	color: #16a8c6;
	font-size: 12pt;
	font-weight: normal;
}

h4 {
	display: inherit;
	margin: 0;
	font-family: HelveticaNeueLTStd-Th;
	color: #999999;
	font-size: 11pt;
	font-weight: normal;
}

.row {
	display: block;
	position: relative;
	padding-top: 5px;
}

.col {
	display: inline;
}

.col-right {
	text-align: right;
	position: absolute;
	right: 0px;
	top: 0px;
}

.col-left {
	text-align: left;
}

.suggestion-meta {
	padding: 20px 0px 0px 0px;
}

.suggestion-text {
	padding: 20px 0px 20px 0px;
	border-bottom: 2px solid #f5f5f5;
}

.suggestion-response {
	padding: 20px 0px 0px 0px;

}

.status-flag {
	display: inline-block;
	font-family: HelveticaNeueLTStd-Md;
	letter-spacing: normal;
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.status-flag.green {
	color: #19D175;
}

.status-flag.red {
	color: #FF4747;
}

.status-flag.yellow {
	color: #CCCC00;
}

.status-flag.grey {
	color: #999999;
}

.status-flag h2 {
	margin-bottom: 5px;
	margin-top: 0px;
}

.status-flag p {
	margin-top: 10px;
}

.suggestion-footer {
	margin-top: 40px;
	position: relative;
}

.suggestion-footer-micro {
	display: none;
}

.button.button-clear {
	border-radius: 4px;
	border: 1px solid #16a8c6;
	background-color: transparent;
	position: relative;
	line-height: 20pt;
	right: 0px;
	top: -4px;
	letter-spacing: inherit;
}

.button.button-clear:hover {
	cursor: pointer;
}

.button-clear {
	padding: 2px 8px 0px 8px;
}

.bar .button.button-clear {
	padding: 0px 8px;
}

.bar .button.button-clear.activated {
	padding: 0px 8px;
}

.button.button-clear.activated {
	background-color: #16a8c6;
	opacity: 1;
}

.button.button-clear.activated h3 {
	color: #ffffff;
}

.top-logo {
	display: none;
}

.logo img {
	width: 97px;
}

.logo:hover {
	cursor: pointer;
}

.menu {
	display: inherit;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: 80px;
}

.menu-item {
	margin-bottom: 20px;
	padding-right: 20px;
}

.menu-item h3:hover {
	cursor: pointer;
}

.menu-item h4 {
	font-size: 12pt;
	font-family: HelveticaNeueLTStd-Lt;
}

.menu-item img {
	width: 70px;
	height: 70px;
	margin-bottom: 5px;
}

.overlay-message {
	text-align: center;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 4px;
	z-index: 3;
	padding: 10px 20px 20px 20px;
}

.overlay-message h1 {
	display: inline;
	word-wrap: normal;
}

.overlay-message h2 {
	display: inline;
	word-wrap: normal;
	font-size: 12pt;
}

.overlay-message h3 {
	display: inline;
	word-wrap: normal;
	font-size: 12pt;
	cursor: pointer;
}

.suggestion {
	position: relative;
	display: inline-block;
	max-width: 100%;
	min-width: 100%;
	text-align: left;
	padding-bottom: 10px;
}

.suggestion-img-container {
	padding-bottom: 61.803398875%;
	background: #f5f5f5;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 4px #aaaaaa;
}

.suggestion img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
		margin: auto;
		max-width: 100%;
}

.outer-container {
	flex-direction: row;
	-webkit-flex-direction: row;

	display: flex;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-box-align: flex-start;
	-moz-box-align: flex-start; /* OLD… */
	-ms-flex-align: flex-start; /* You know the drill now… */
	-webkit-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;

	margin: 0;
	height: 100%;
 	width: 100%; /* needed for Firefox */
	padding: 0px;
	padding-top: 5%;
}

.inner-container {
	display: inherit;
}

.left {
	order: 1;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	max-width: 150px;
	max-height: 985px;
	min-width: 150px;
	min-height: 985px;
	flex-direction: column;
	-webkit-flex-direction: column;

	display: flex;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-box-align: flex-start;
	-moz-box-align: flex-start; /* OLD… */
	-ms-flex-align: flex-start; /* You know the drill now… */
	-webkit-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-pack: flex-start;
	-webkit-flex-align: flex-start;
	-moz-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.right {
	order: 2;
	flex-grow: 1;
	max-width: 500px;
	max-height: 985px;
	min-width: 500px;
	min-height: 985px;
	text-align: left;
	flex-direction: column;
	-webkit-flex-direction: column;

	display: flex;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-box-align: flex-start;
	-moz-box-align: flex-start; /* OLD… */
	-ms-flex-align: flex-start; /* You know the drill now… */
	-webkit-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-pack: flex-start;
	-webkit-flex-align: flex-start;
	-moz-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.fake-suggestion-username {
	margin-top: 20px;
	color: #f5f5f5;
}

.no-suggestion-message {
	position: absolute;
	text-align: center;
	width: 300px;
	height: 175px;
	top: calc(50% - 107.5px);
	left: calc(50% - 170px);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 4px;
	z-index: 3;
	padding: 20px;
}

.fake-suggestion-timestamp {
	margin-top: 20px;
	position: absolute;
	right: 0px;
	color: #f5f5f5;
}

.fake-suggestion-entity {
	margin-top: 5px;
	color: #f5f5f5;
}

.fake-suggestion-title {
	margin-top: 20px;
	color: #f5f5f5;
	word-wrap: break-word;
}

.fake-suggestion-description {
	position: relative;
	color: #f5f5f5;
	margin-top: 5px;
	padding-bottom: 20px;
	border-bottom: 2px solid #f5f5f5;
	word-wrap: break-word;
}

.fake-suggestion-supporters {
	position: relative;
	color: #f5f5f5;
	margin-top: 40px;
}

.fake-suggestion-yesbutton {
	width: 60px;
	height: 20px;
	border-radius: 4px;
	background-color: #f5f5f5;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

@media all and (max-width: 850px) {

	.outer-container {
		padding-top: 0px;
	}

	.inner-container {
		flex-direction: column;
		-webkit-flex-direction: column;
		display: flex;
		display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
		display: -moz-box;      /* OLD: Firefox (buggy) */
		display: -ms-flexbox;   /* MID: IE 10 */
		display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
		display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

		-webkit-box-align: flex-start;
		-moz-box-align: flex-start; /* OLD… */
		-ms-flex-align: flex-start; /* You know the drill now… */
		-webkit-align-items: flex-start;
		align-items: flex-start;

		-webkit-box-pack: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;

		margin: 0;
		height: 100%;
		width: 500px;
	 	max-width: 100%;

		padding: 0px;
	}

	.left {
		order: 1;
		flex-grow: 1;
		position: relative;
		overflow: hidden;
		max-width: 100%;
		max-height: 40px;
		min-width: 100%;
		min-height: 40px;
		flex-direction: row;
		-webkit-flex-direction: row;

		display: flex;
		display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
		display: -moz-box;      /* OLD: Firefox (buggy) */
		display: -ms-flexbox;   /* MID: IE 10 */
		display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
		display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

		-webkit-box-align: center;
		-moz-box-align: center; /* OLD… */
		-ms-flex-align: center; /* You know the drill now… */
		-webkit-align-items: center;
		align-items: center;

		-webkit-box-pack: flex-start;
		-webkit-flex-align: flex-start;
		-moz-box-pack: flex-start;
		-ms-flex-pack: flex-start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}

	.right {
		order: 2;
		flex-grow: 1;
		max-width: 100%;
		min-width: 100%;
		max-height: 100%;
		min-height: 100%;
		text-align: center;

		display: flex;
		display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
		display: -moz-box;      /* OLD: Firefox (buggy) */
		display: -ms-flexbox;   /* MID: IE 10 */
		display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
		display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

		-webkit-box-align: flex-start;
		-webkit-flex-align: flex-start;
		-moz-box-align: flex-start; /* OLD… */
		-ms-flex-align: flex-start; /* You know the drill now… */
		-webkit-align-items: flex-start;
		align-items: flex-start;

		-webkit-box-pack: flex-start;
		-moz-box-pack: flex-start;
		-ms-flex-pack: flex-start;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;

		margin-top: 10px;
	}

	.logo img {
		width: 66px;
	}

	.menu {
		padding-top: 0;
		flex-direction: row;
		-webkit-flex-direction: row;
		-webkit-box-pack: flex-end;
		-moz-box-pack: flex-end;
		-ms-flex-pack: flex-end;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		display: inherit;
		align-items: inherit;
		-webkit-align-items: inherit;
	}

	.menu-item {
		margin-bottom: 0px;
		padding-right: 0px;
		margin-left: 20px;
		text-align: right;
		display: inherit;
		align-items: inherit;
		-webkit-align-items: inherit;
	}

	.menu-item img {
		width: 30px;
		height: 30px;
		margin: 0;
		margin-right: 10px;
		display: inherit;
	}

}

@media all and (max-width: 350px) {

	.suggestion-footer {
		display: none;
	}

	.suggestion-footer-micro {
		display: block;
		margin-top: 30px;
		position: relative;
	}

	.suggestion-footer-micro .row {
		margin-top: 10px;
	}

	.suggestion-footer-micro h3 {
		line-height: normal;
		margin-top: 4px;
	}

	.logo {
		display: none;
	}

	.top-logo {
		display: block;
		padding-bottom: 10px;
		position: relative;
		left: calc(50% - 33px);
	}

	.top-logo img {
		width: 66px;
	}

	.menu-item {
		margin-left: 0px;
		width: 100%;
	}

	.menu-item img {
		display: none;
	}

	.menu-item.a {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		text-align: left;
	}

	.menu-item.b {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		text-align: right;
	}

}
