<ion-view>
<ion-header-bar>
	<div class="buttons">
		<button class="button button-icon ion-ios-arrow-back" ng-click="cancel()"></button>
	</div>
	<div class="title">Place</div>
	<div class="buttons">
	    <button class="button button-right button-icon ion-compose" nav-direction="forward" ng-click="newSuggestion()"></button>
	</div>
</ion-header-bar>

<ion-content style="background-color: #F5F5F5;">

	<div class="profile-topper">

		<!-- Map -->
		<div class="detailed-suggestion-map">
			<ion-content scroll="false">
				<div class="invisible-button"></div>
					<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">
					    <ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" icon="marker.icon" events="marker.events">
						</ui-gmap-marker>
					</ui-gmap-google-map>
			</ion-content>
		</div>

		<!-- Header -->
		<div class="profile-header">
			<div class="row">
				<div class="col">
					<h1>{{entity.name}}</h1>
					<p ng-if="entity.vicinity && !entity.address">{{entity.vicinity}}</p>
					<p ng-if="entity.address && !entity.vicinity">{{entity.address}}</p>
				</div>
			</div>
		</div>

		<!-- Buttons -->
		<div class="profile-buttons">
			<div class="row">
					<button class="button button-follow" style="margin-right: 20px;" ng-click="intoCompose(entity)">SUGGEST @</button>
					<div ng-if="entity.user_followed == 1">
						<button class="button button-following" ng-click="follow(entity)">FOLLOWING</button>
					</div>
					<div ng-if="entity.user_followed == 0">
						<button class="button button-follow" ng-click="follow(entity)">FOLLOW</button>
					</div>
			</div>
		</div>

		<!-- Stats -->
		<div class="profile-stats">
			<div class="row">
				<div class="col col-center">
					<div ng-if="entity.total_suggestions != 1">
			 			<h1>{{entity.total_suggestions}}</h1>
			 			<h4>Suggestions</h4>
			 		</div>
			        <div ng-if="entity.total_suggestions == 1">
			        	<h1>{{entity.total_suggestions}}</h1>
			        	<h4>Suggestion</h4>
			        </div>
			    </div>
			    <div class="col col-center">
			    	<div ng-if="entity.total_responses != 1">
			    		<h1>{{entity.total_responses}}</h1>
			    		<h4>Responses</h4>
			    	</div>
			    	<div ng-if="entity.total_responses == 1">
			    		<h1>{{entity.total_responses}}</h1>
			    		<h4>Response</h4>
			    	</div>
			    </div>
			    <div class="col col-center">
			    	<div ng-if="entity.total_followers != 1">
			    		<h1>{{entity.total_followers}}</h1>
			    		<h4>Followers</h4>
			    	</div>
			    	<div ng-if="entity.total_followers == 1">
			    		<h1>{{entity.total_followers}}</h1>
			    		<h4>Follower</h4>
			    	</div>
			    </div>
			</div>
		</div>

	</div>

    <div class="multi">

    	<div ng-if="!tasks">
    		<div style="text-align: center; padding-top: 30%;">
    			<ion-spinner icon="circles"></ion-spinner></br>
    		</div>
    	</div>

    	<div ng-if="tasks">
    		<h5>Suggestions @{{entity.name}}</h5>

    		<div class="row wrap">
				<div ng-click="suggestionDetail(task)" nav-direction="forward" class="col mini-suggestion" ng-repeat="task in tasks | orderBy:'-total_supporters' track by $index" ng-model="tasks[$index]">
					<div class="mini-image-container" ng-cloak>
						<img ng-src="{{task.image_path}}">
					</div>
					<div class="mini-ent">
						<h4>@{{task.entity_name}}</h4>
					</div>
					<div class="mini-title">
						<p>{{task.title}}<p>
					</div>
					<div class="mini-footer">
						{{task.total_supporters}}
					</div>
					<div class="mini-status">
						<div ng-if="task.response_status == 'DONE'" class="status-flag green">
			  				<i class="icon ion-reply"></i>
			  			</div>
			  			<div ng-if="task.response_status == 'CONSIDERING'" class="status-flag yellow">
			  				<i class="icon ion-reply"></i>
			  			</div>
			  			<div ng-if="task.response_status == 'NOT RIGHT NOW'" class="status-flag red">
			  				<i class="icon ion-reply"></i>
			  			</div>
			  			<div ng-if="task.response_status == 'Hoping for response'">
			  			</div>
			  		</div>
				</div>
			</div>

		</div>
	</div>


</ion-content>
</ion-view>
