<ion-view>
<ion-header-bar>
	<div class="buttons">
		<button class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
	</div>
	<div class="title">Places</div>
	<div class="buttons">
	    <button class="button button-right button-icon ion-compose" nav-direction="forward" ng-click="newSuggestion()"></button>
	</div>
</ion-header-bar>

<ion-content>
	<div class="clear-search">
		<i ng-if="entity.entity_search && !searching" class="icon ion-close-circled" ng-click="clearSearch(entity)"></i>
	</div>
		<form ng-submit="searchPlaces(entity)" ng-if="location">
			<label class="item item-input">
						<i class="icon ion-ios-search placeholder-icon"></i>
						<input type="search" id="places-search" ng-model="entity.entity_search" placeholder="Search">
							<ion-spinner ng-if="searching" icon="circles"></ion-spinner>
						</input>
				</label>
		</form>

		<div ng-if="!location">
	    	<div style="text-align: center; padding-top: 30%;">
	    		<ion-spinner icon="ripple"></ion-spinner></br>
	    		<h4>Waiting for location</h4>
	    	</div>
	    </div>

		<div ng-if="location">

			<div class="list">
		        <div class="item" ng-repeat="entity in entities | orderBy:'-total_suggestions' track by $index" ng-model="entities[$index]">
							<div class="invisible-button" ng-if="entity.total_suggestions > 0" ng-click="entGo(entity)"></div>
		        	<div class="row">
		        		<div class="col">
					        <h1 ng-if="entity.total_suggestions > 0" style="color: #107b91">{{entity.name}}</h1>
									<h1 ng-if="entity.total_suggestions == 0">{{entity.name}}</h1>
									<p ng-if="entity.vicinity && !entity.address">{{entity.vicinity}}</p>
									<p ng-if="entity.address && !entity.vicinity">{{entity.address}}</p>
					    </div>
					</div>

					<div class="item-bar">
				        <div class="row">
				        	<div class="col col-left">
				        		<div ng-if="entity.total_suggestions > 1" ng-click="entGo(entity)">
						        	<p>{{entity.total_suggestions}} suggestions</p>
						        </div>
						        <div ng-if="entity.total_suggestions == 1" ng-click="entGo(entity)">
						        	<p>{{entity.total_suggestions}} suggestion</p>
						        </div>
						        <div ng-if="entity.total_suggestions == 0"></div>
						    </div>
						</div>
						<div class="row" style="margin-top: 10px;">
						    	<button class="button button-follow" style="margin-right: 20px;" ng-click="intoCompose(entity)">SUGGEST @</button>
						    	<div class="col col-left">
						        <div ng-if="entity.user_followed == 1">
						        	<button class="button button-following" ng-click="follow(entity)">FOLLOWING</button>
						        </div>
						        <div ng-if="entity.user_followed == 0">
						        	<button class="button button-follow" ng-click="follow(entity)">FOLLOW</button>
						        </div>
						    <div>
			        	</div>
			        </div>
	        </div>
				</div>

				<div ng-if="noentities">
					<div style="text-align: center; padding-top: 20%;">
						<h5>No places found :(</h5>
					</div>
				</div>

	</ion-content>
</ion-view>
