<ion-view style="background-color: #F5F5F5;">
<ion-header-bar>
	<div class="buttons">
		<button class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
	</div>
	<div class="title">Suggestions</div>
	<div class="buttons">
		<button class="button button-right button-icon ion-compose" ng-click="newSuggestion()"></button>
	</div>
</ion-header-bar>

<ion-content has-header>

<div class="multi">

	<div class="row wrap">
		<div ng-click="suggestionDetail(task)" nav-direction="enter" class="col mini-suggestion" ng-repeat="task in tasks | orderBy:'-total_supporters' track by $index" ng-model="tasks[$index]">
			<div class="mini-image-container" ng-cloak>
				<img ng-src="{{task.image_path}}">
			</div>
			<div class="mini-ent">
				<h4>@{{task.entity_name}}</h4>
			</div>
			<div class="mini-title">
				<p>{{task.title}}<p>
			</div>
			<div class="mini-footer">
				{{task.total_supporters}}
			</div>
			<div class="mini-status">
				<div ng-if="task.response_status == 'DONE'" class="status-flag green">
	  				<i class="icon ion-reply"></i>
	  			</div>
	  			<div ng-if="task.response_status == 'CONSIDERING'" class="status-flag yellow">
	  				<i class="icon ion-reply"></i>
	  			</div>
	  			<div ng-if="task.response_status == 'NOT RIGHT NOW'" class="status-flag red">
	  				<i class="icon ion-reply"></i>
	  			</div>
	  			<div ng-if="task.response_status == 'Awaiting response'">
	  			</div>
	  		</div>
		</div>
	</div>

</div>

</ion-content>
</ion-view>
