<ion-view>
<ion-header-bar>
  <div class="buttons">
    <button ng-if="backView" class="button button-icon ion-ios-arrow-back" ng-click="cancel()"></button>
    <button ng-if="!backView" class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
  </div>
  <div class="title">Send suggestion to...</div>
</ion-header-bar>

	<ion-content has-bouncing="true">
    <div class="clear-search">
  		<i ng-if="task.entity_search && !searching" class="icon ion-close-circled" ng-click="clearSearch(task)"></i>
  	</div>
	<div ng-if="task.location">
		<form ng-submit="searchPlaces(task)">
        <label class="item item-input">
            	<i class="icon ion-ios-search placeholder-icon"></i>
            	<input type="search" id="places-search" ng-model="task.entity_search" placeholder="Search">
                <ion-spinner ng-if="searching" icon="circles"></ion-spinner>
              </input>
        	</label>
      	</form>

      	<div class="list">
            	<a class="item" href="#" ng-click="intoCompose(place)" nav-direction="forward" ng-repeat="place in places track by $index" ng-model="places[$index]">
                <div class="row">
                  <div class="col">
                    <h1 ng-if="place.total_suggestions > 0" style="color: #107b91">{{place.name}}</h1>
                    <h1 ng-if="place.total_suggestions == 0">{{place.name}}</h1>
                    <p ng-if="place.vicinity && !place.address">{{place.vicinity}}</p>
          					<p ng-if="place.address && !place.vicinity">{{place.address}}</p>
                  </div>
                </div>
                      <div class="item-bar-new" ng-if="place.total_suggestions">
                            <div class="row">
                                <div class="col">
                                    <div ng-if="place.total_suggestions > 1">
                                        <p>{{place.total_suggestions}} suggestions</p>
                                    </div>
                                    <div ng-if="place.total_suggestions == 1">
                                        <p>{{place.total_suggestions}} suggestion</p>
                                    </div>
                                    <div ng-if="place.total_suggestions == 0">
                                    </div>
                                </div>
                            </div>
                      </div>
            	</a>
        </div>

            <div ng-if="noplaces">
    					<div style="text-align: center; padding-top: 20%;">
    						<h5>No places found :(</h5>
    					</div>
    				</div>

        	</div>

    <div ng-if="!task.location">
    	<div style="text-align: center; padding-top: 30%;">
    		<ion-spinner icon="ripple"></ion-spinner></br>
    		<h4>Waiting for location</h4>
    	</div>
    </div>


	</ion-content>
</ion-view>
