<ion-view>
<ion-header-bar>
  <div class="buttons">
    <button class="button button-icon ion-ios-arrow-back" ng-click="cancel()"></button>
  </div>
  <div class="title">Write suggestion</div>
</ion-header-bar>

<ion-content has-header="true" has-bouncing="true">

	    <!-- Re-select entity modal -->
		<script id="select-entity.html" type="text/ng-template">
		  <ion-modal-view>
		  <ion-nav-bar>
		    <ion-nav-buttons side="left">
		    <button class="button button-icon ion-android-close" ng-click="closeModal('None')"></button>
		    </ion-nav-buttons>
		  </ion-nav-bar>

		    <ion-content class="has-header">
        <div class="clear-search">
      		<i ng-if="task.entity_search && !searching" class="icon ion-close-circled" ng-click="clearSearch(task)"></i>
      	</div>
        <form ng-submit="searchPlaces(task)">
            <label class="item item-input">
                  <i class="icon ion-ios-search placeholder-icon"></i>
                  <input type="search" id="places-search" ng-model="task.entity_search" placeholder="Search">
                    <ion-spinner ng-if="searching" icon="circles"></ion-spinner>
                  </input>
              </label>
            </form>

            <div class="list">
                  <a class="item" href="#" ng-click="closeModal(place)" nav-direction="forward" ng-repeat="place in places track by $index" ng-model="places[$index]">
                    <div class="row">
                      <div class="col">
                        <h1 ng-if="place.total_suggestions > 0" style="color: #107b91">{{place.name}}</h1>
      									<h1 ng-if="place.total_suggestions == 0">{{place.name}}</h1>
                        <p ng-if="place.vicinity && !place.address">{{place.vicinity}}</p>
                        <p ng-if="place.address && !place.vicinity">{{place.address}}</p>
                      </div>
                    </div>
                          <div class="item-bar-new" ng-if="place.total_suggestions">
                                <div class="row">
                                    <div class="col">
                                        <div ng-if="place.total_suggestions > 1">
                                            <p>{{place.total_suggestions}} suggestions</p>
                                        </div>
                                        <div ng-if="place.total_suggestions == 1">
                                            <p>{{place.total_suggestions}} suggestion</p>
                                        </div>
                                        <div ng-if="place.total_suggestions == 0">
                                        </div>
                                    </div>
                                </div>
                          </div>
                  </a>
            </div>

                <div ng-if="noplaces">
                  <div style="text-align: center; padding-top: 20%;">
                    <h5>No places found :(</h5>
                  </div>
                </div>

              </div>

        <div ng-if="!task.location">
          <div style="text-align: center; padding-top: 30%;">
            <ion-spinner icon="ripple"></ion-spinner></br>
            <h4>Waiting for location</h4>
          </div>
        </div>
		    </ion-content>
		  </ion-modal-view>
		</script>

	    	<form ng-submit="addTask(task)">
				<div class="detailed-suggestion">

				  <!-- Image -->
				  <div ng-if="lastPhoto">
    				<div class="suggestion-img-container">
    					<button ng-click="getPhoto()" type="button" class="button suggestion-camera icon ion-ios-camera-outline"></button>
				    	<button ng-click="getLibraryPhoto()" type="button" class="button suggestion-picture icon ion-ios-photos-outline"></button>
        				<img ng-src="{{lastPhoto}}">
				    </div>
				  </div>

				    <div ng-if="!lastPhoto">
				    	<div class="suggestion-img-container">
				    		<button ng-click="getPhoto()" type="button" class="button suggestion-camera icon ion-ios-camera-outline"></button>
				    		<button ng-click="getLibraryPhoto()" type="button" class="button suggestion-picture icon ion-ios-photos-outline"></button>
				    	</div>
				    </div>

				<!-- Meta data -->
				<div class="suggestion-header">
					<div class="row">
						<div class="col">
							<h3>{{user.name}}</h3><br>
							<div ng-if="!task.entity_name">
						        <h3><a type="button" ng-click="openModal()">Select business or organization</a></h3>
						    </div>
						    <div ng-if="task.entity_name">
						    	<h3><a type="button" ng-click="openModal()">@{{task.entity_name}}</a></h3>
						    </div>
						</div>
					</div>
				</div>

				<!-- Title -->
				<div class="suggestion-title">
					<div class="row">
					   <h1><textarea focus-me rows="1" msd-elastic maxlength="80" id="suggestion-title" placeholder="Headline (max 80 chars)" ng-model="task.title"></textarea></h1>
				    </div>
				    <div class="row">
				    	<p><textarea rows="1" msd-elastic id="suggestion-description" placeholder="Description (optional)" ng-model="task.description"></textarea></p>
				    </div>
				</div>

				  <!-- Location map preview -->
				<!-- <div ng-if="task.location" class="suggestion-map-preview">
				  	<div class="row">
					    <ion-content scroll="false">
					      <div class="invisible-button"></div>
					        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">
					            <ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" icon="marker.icon" events="marker.events"></ui-gmap-marker>
					        </ui-gmap-google-map>
					    </ion-content>
					</div>
				</div>
				<div ng-if="!task.location">
				    <div style="text-align: center; vertical-align: middle; margin-bottom: 20px;">
				      <br>
				      <h4>Waiting for location...</h4>
				    </div>
				</div> -->

				  <!-- Save button -->
				  <div class="hide-on-keyboard-open">

				  <div ng-if="!task.title">
					  	<div class="row">
					      <div class="col">
					        <button class="button button-grey">Write your suggestion</button>
					      </div>
					   </div>
				  </div>
				  <div ng-if="task.title">
				  	<div ng-if="!lastPhoto">
				  		<div class="row">
					      <div class="col">
					        <button class="button button-grey">Add a photo</button>
					      </div>
					   </div>
				  	</div>
				  	<div ng-if="lastPhoto">
					  	<div ng-if="!uploading">
						    <div class="row">
						      <div class="col">
						        <button type="submit" class="button button-blue">Share</button>
						      </div>
						    </div>
						  </div>
						  <div ng-if="uploading == 1">
						    <div class="row">
						      <div class="col">
						        <button class="button button-blue">Uploading...</button>
						      </div>
						    </div>
						 </div>
				  </div>

					</div>

				  <!-- spacer -->
				  <div style="height: 20px;"></div>

				</div>

				</form>

</ion-content>
</ion-view>
