<ion-view title="Settings">
<ion-header-bar>
  <div class="buttons">
    <button class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
  </div>
  <div class="title">Settings</div>
</ion-header-bar>

  <ion-content>
  <div class="profile-header" ng-if="loggedIn == 0">
    <div class="row">
        <div class="col col-center">
          <img ng-src="img/plural-face.png" style="width: 100px; height: 100px;"/>
        </div>
      </div>
      <div class="row">
        <div class="col col-center">
          <br>
          <h5>Not logged in</h5>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col col-center">
            <button class="button button-clear" ng-click="fbLogin()"><h3>Login with Facebook</h3></button>
        </div>
      </div>
  </div>

  <div class="profile-header" ng-if="loggedIn == 1">
      <div class="row">
        <div class="col col-center">
          <img ng-src="http://graph.facebook.com/{{user.id}}/picture?width=300&height=300" style="width: 100px; height: 100px; border-radius: 4px;"/>
        </div>
      </div>
      <div class="row">
        <div class="col col-center">
          <br>
          <h1>{{user.name}}</h1>
          <h5>Logged in with Facebook</h5>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col col-center">
          <button class="button button-clear" ng-click="fbLogout()"><h3>Logout</h3></button>
        </div>
      </div>
      <div class="row">
        <div class="col col-center">
          <br>
          <a href="#/app/welcome"><h3>View the welcome message again</h3></a>
        </div>
      </div>
  </div>
  <br><br>
  <div class="inner-line" ng-if="loggedIn == 1"></div>
  <div ng-if="loggedIn == 1" style="text-align: center; padding: 20px;">
    <h1 style="font-size: 140%">Send us a suggestion</h1>
    <p>You can send suggestions to Plural on Plural, of course.</p>
    <br>
    <button class="button button-clear" ng-click="pluralCompose()"><h3>SUGGEST @Plural</h3></button>
    <br><br>
    <h4>You'll have to add a picture - upload a screenshot if you can. If not, just add a random image.</h4>
    <br><br>
    <p>You can also send any thoughts or feedback you have to hello@plural.co</p>
  </div>

  </ion-content>
</ion-view>
