<ion-side-menus ng-controller="SideMenuCtrl">

      <!-- Center content -->
      <ion-side-menu-content>
        <!-- App content -->
        <ion-nav-view name="mainView"></ion-nav-view>

      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left" width="180">
        <div class="side-menu">
          <div class="side-menu-shadow"></div>
          <div class="logo">
            <text>Plural</text>
          </div>

          <div class="side-menu-list">

            <div class="side-menu-item bold" ng-if="currentView != 'app.stream'">
              <a menu-close href="#/app/stream"><h6>Stream</h6></a>
            </div>
            <div class="side-menu-item bold active" ng-if="currentView == 'app.stream'">
              <a menu-close href="#/app/stream"><h6>Stream</h6></a>
            </div>

            <div class="divider"></div>

            <div class="side-menu-item" ng-if="currentView != 'app.newSuggestion'">
              <a menu-close href="#/app/newSuggestion"><h6>New suggestion</h6></a>
            </div>
            <div class="side-menu-item active" ng-if="currentView == 'app.newSuggestion'">
              <a menu-close href="#/app/newSuggestion"><h6>New suggestion</h6></a>
            </div>
            <div class="side-menu-item active" ng-if="currentView == 'app.newSuggestionCompose'">
              <a menu-close href="#/app/newSuggestion"><h6>New suggestion</h6></a>
            </div>

            <div class="divider"></div>

            <div class="side-menu-item nolink bold">
                  <h6>Explore</h6>
                </div>

                <div class="side-menu-item sub" ng-if="currentView != 'app.hot'">
                  <a menu-close href="#/app/exploreHot"><h6>Suggestions</h6></a>
                </div>
                <div class="side-menu-item sub active" ng-if="currentView == 'app.hot'">
                  <a menu-close href="#/app/exploreHot"><h6>Suggestions</h6></a>
                </div>

                <div class="side-menu-item sub" ng-if="currentView != 'app.places'">
                  <a menu-close href="#/app/explorePlaces"><h6>Places</h6></a>
                </div>
                <div class="side-menu-item sub active"  ng-if="currentView == 'app.places'">
                  <a menu-close href="#/app/explorePlaces"><h6>Places</h6></a>
                </div>

            <div class="divider"></div>

             <div class="side-menu-item" ng-if="currentView != 'app.myProfile'">
              <a menu-close ng-click="myProfileGo()"><h6>My profile</h6></a>
            </div>
            <div class="side-menu-item active" ng-if="currentView == 'app.myProfile'">
              <a menu-close ng-click="myProfileGo()"><h6>My profile</h6></a>
            </div>

            <div class="side-menu-item" ng-if="currentView != 'app.settings'">
              <a menu-close href="#/app/settings"><h6>Settings</h6></a>
            </div>
            <div class="side-menu-item active" ng-if="currentView == 'app.settings'">
              <a menu-close href="#/app/settings"><h6>Settings</h6></a>
            </div>

          </div>

          <div class="menu-footer">
            Alpha v0.0.3<br>
            Plural &copy; 2015
          </div>

        </div>
      </ion-side-menu>

</ion-side-menus>
