<ion-view>
<ion-header-bar>
	<div class="buttons">
		<button class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
	</div>
	<div class="title">Stream</div>
	<div class="buttons">
	    <button class="button button-right button-icon ion-compose" nav-direction="forward" ng-click="newSuggestion()"></button>
	</div>
</ion-header-bar>

<ion-content has-header>

<script id="first-run.html" type="text/ng-template">
  <ion-modal-view>
  	<ion-content scroll="false" style="background-color: #f5f5f5; padding-top: 70%;">
    	<div class="row">
			<div class="col col-center">
				<div class="bigtext" ng-click="openPopover($event)">
					Plural
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-center">
    			<h5></h5>
    		</div>
    	</div>
    	<div class="row">
			<div class="col col-center">
    			<button class="button button-clear" ng-click="fbLogin()"><h3>Login with Facebook</h3></button>
    		</div>
    	</div>
    </ion-content>
  </ion-modal-view>
</script>

<div ng-if="user">
<ion-scroll paging="true" has-bouncing="true">

	<div ng-if="!tasks">
	    	<div style="text-align: center; padding-top: 30%;">
	    		<ion-spinner icon="circles"></ion-spinner></br>
	    	</div>
	</div>

	<div ng-if="tasks[0] == 'No follows'" style="text-align: center; padding: 10% 5% 0 5%">
	    			<h1>Suggestions will appear here for places that you follow.</h1>
					<br>
						<p>If you create a new suggestion for a place you'll automatically follow that place and you'll see your suggestion here.</p>
					<br>
					<button class="button button-clear" ng-click="newSuggestion()"><h3>Create a new suggestion</h3></button>
					<br><br>
						<p>You can also follow places without creating suggestions. If a place doesn't have any suggestions nothing will appear here though.</p>
	    		<br>
	    			<button class="button button-clear" ng-click="exploreGo()"><h3>Explore places</h3></button>
	</div>

	<div class="suggestion" ng-if="task.id" ng-repeat="task in tasks | orderBy:'-timestamp' track by $index" ng-model="tasks[$index]">

		<!-- Image IS present -->
		<div ng-if="task.image_path">
			    <div class="suggestion-img-container" ng-click="suggestionDetail(task)" ng-cloak>
			    	<img ng-src="{{task.image_path}}">
			</div>
		</div>

	    <!-- Image IS NOT present -->
	    <div ng-if="!task.image_path">
		</div>

		<!-- Meta data -->
		<div class="suggestion-header">
			<div class="row">
				<div class="col col-left-botext col-80"><a href="#" ng-click="userGo(task)" nav-direction="forward"><h3>{{task.user_name}}</h3></a><br>
					<a href="#" ng-click="entGo(task)" nav-direction="forward"><h3>@{{task.entity_name}}</h3></a>
				</div>
				<div class="col col-right col-20" style><h4>{{getDateString(task.timestamp)}}</h4></div>
			</div>
		</div>

		<!-- Title -->
		<div class="suggestion-title" ng-click="suggestionDetail(task)">
			<div class="row">
			    <h1>
			      {{task.title | limitTo : 80}}
		    	</h1>
		    </div>
		</div>

		<!-- Suggestion details -->
		<div class="inner-line"></div>
		<div class="suggestion-details" ng-click="suggestionDetail(task)">
	      			<div ng-if="task.response_status == 'DONE'" class="status-flag green">
	      				<div class="row">
		      				<div class="col col-left col-80">
			      				<i class="icon ion-reply"></i>{{task.response_status}}
			      				<!-- &nbsp;&nbsp; <h2><i class="icon ion-chatbubble"></i>&nbsp;3 comments</h2> -->
			      			</div>
			      			<div class="col col-right col-20">
			      				<h4>{{getDateString(task.response_timestamp)}}</h4>
			      			</div>
			      		</div>
	      			</div>
	      			<div ng-if="task.response_status == 'CONSIDERING'" class="status-flag yellow">
	      				<div class="row">
		      				<div class="col col-left col-80">
		      				<i class="icon ion-reply"></i>{{task.response_status}}
		      				</div>
			      			<div class="col col-right col-20">
			      				<h4>{{getDateString(task.response_timestamp)}}</h4>
			      			</div>
			      		</div>
	      			</div>
	      			<div ng-if="task.response_status == 'NOT RIGHT NOW'" class="status-flag red">
	      				<div class="row">
		      				<div class="col col-left col-80">
		      				<i class="icon ion-reply"></i>{{task.response_status}}
		      				</div>
			      			<div class="col col-right col-20">
			      				<h4>{{getDateString(task.response_timestamp)}}</h4>
			      			</div>
		      			</div>
	      			</div>
	      			<div ng-if="task.response_status == 'Hoping for response'" class="status-flag grey">
	      				<div class="row">
	      					{{task.response_status}} from {{task.entity_name}}
	      				</div>
	      			</div>
		</div>

	   	<div ng-if="!task.response" style="height:40px"></div>

	    <!-- Footer bar -->
	    <div class="footer">

				<div class="overlay-message" ng-if="copied">
					URL copied to clipboard
				</div>

	    	<div ng-if="entityuser.checked == false" class="row">
				<div ng-if="task.total_supporters != 1" class="col col-left-botext">
					<h1>{{task.total_supporters}} supporters</h1>
				</div>
				<div ng-if="task.total_supporters == 1" class="col col-left-botext">
					<h1>{{task.total_supporters}} supporter</h1>
				</div>

				<div ng-if="task.end_user_supported == 1" class="col col-right-botext">
					<button class="button icon right ion-android-share-alt" ng-click="copyText(task)"></button>
					<button class="button button-clear activated" ng-click="Support(task)"><h3>Supported</h3></button>
				</div>
				<div ng-if="task.end_user_supported == 0" class="col col-right-botext">
					<button class="button icon right ion-android-share-alt" ng-click="copyText(task)"></button>
					<button class="button button-clear" ng-click="Support(task)"><h3>Support</h3></button>
				</div>
			</div>
	    </div>


	</div>

</ion-scroll>
</div>
</ion-content>
</ion-view>
