<ion-view>
<ion-header-bar>
	<div class="buttons">
		<button class="button button-icon ion-ios-arrow-back" nav-direction="backward" ng-click="cancel()"></button>
	</div>
	<div class="title">Suggestion</div>
	<div class="buttons">
	    <button class="button button-right button-icon ion-compose" nav-direction="forward" ng-click="newSuggestion()"></button>
	</div>
</ion-header-bar>

<ion-content has-bouncing="true">

<div ng-if="!task">
    	<div style="text-align: center; padding-top: 30%;">
    		<ion-spinner icon="circles"></ion-spinner></br>
    		<h4>Loading</h4>
    	</div>
    </div>

<div class="detailed-suggestion" ng-if="task">

	<!-- Image IS present -->
	<div ng-if="task.image_path">
		    <div class="suggestion-img-container" ng-click="suggestionDetail(task)" ng-cloak>
		    	<img ng-src="{{task.image_path}}">
			</div>
	</div>

    <!-- Image IS NOT present -->
    <div ng-if="!task.image_path">
	</div>

	<!-- Meta data -->
	<div class="suggestion-header">
		<div class="row">
			<div class="col col-left-botext col-80"><a href="#" ng-click="userGo(task)" nav-direction="forward"><h3>{{task.user_name}}</h2></a><br>
				<a href="#" ng-click="entGo(task)" nav-direction="forward"><h3>@{{task.entity_name}}</h3></a>
			</div>
			<div class="col col-right col-20" style><h4>{{getDateString(task.timestamp)}}</h4></div>
		</div>
	</div>

	<!-- Title -->
	<div class="suggestion-title">
		<div class="row">
		    <h1>
		      {{task.title}}
	    	</h1>
	    </div>
	    <div class="row" ng-if="task.description">
	    	<div class="detailed-suggestion-description">
		    	<p>
		    		{{task.description}}
		    	</p>
		    </div>
		</div>
	</div>

	<!-- Map -->
	<div class="detailed-suggestion-map">
		<div class="row">
			<ion-content scroll="false">
				<div class="invisible-button"></div>
				    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">
				        <ui-gmap-marker idKey="marker.id" coords="marker.coords" options="marker.options" icon="marker.icon" events="marker.events"></ui-gmap-marker>
				    </ui-gmap-google-map>
			</ion-content>
		</div>
	</div>

	<!-- Response -->
	<div class="suggestion-response">
				<div ng-if="task.response_status == 'DONE'" class="status-flag green">
      				<div class="row">
	      				<div class="col col-left col-80">
		      				<h3>{{task.entity_name}}</h3>
		      			</div>
		      			<div class="col col-right col-20">
		      				<h4>{{getDateString(task.response_timestamp)}}</h4>
		      			</div>
		      		</div>
		      		<div class="row">
	      				<div class="col col-left" ng-click="entGo(task)">
	      					<i class="icon ion-reply"></i>{{task.response_status}}
      					</div>
      				</div>
		      		<div class="row">
	      				<div class="col col-left">
	      					<p>{{task.response}}</p>
      					</div>
      				</div>
      			</div>
      			<div ng-if="task.response_status == 'CONSIDERING'" class="status-flag yellow">
      				<div class="row">
	      				<div class="col col-left col-80" ng-click="entGo(task)">
	      					<h3>{{task.entity_name}}</h3>
	      				</div>
		      			<div class="col col-right col-20">
		      				<h4>{{getDateString(task.response_timestamp)}}</h4>
		      			</div>
		      		</div>
		      		<div class="row">
	      				<div class="col col-left">
	      					<i class="icon ion-reply"></i>{{task.response_status}}
      					</div>
      				</div>
		      		<div class="row">
	      				<div class="col col-left">
	      					<p>{{task.response}}</p>
      					</div>
      				</div>
      			</div>
      			<div ng-if="task.response_status == 'NOT RIGHT NOW'" class="status-flag red">
      				<div class="row">
	      				<div class="col col-left col-80">
		      				<h3>{{task.entity_name}}</h3>
	      				</div>
		      			<div class="col col-right col-20">
		      				<h4>{{getDateString(task.response_timestamp)}}</h4>
		      			</div>
	      			</div>
	      			<div class="row">
	      				<div class="col col-left" ng-click="entGo(task)">
	      					<i class="icon ion-reply"></i>{{task.response_status}}
      					</div>
      				</div>
	      			<div class="row">
	      				<div class="col col-left">
	      					<p>{{task.response}}</p>
      					</div>
      				</div>
      			</div>
      			<div ng-if="task.response_status == 'Hoping for response'" class="status-flag grey">
      				<div class="row">
      					{{task.response_status}} from {{task.entity_name}}
      				</div>
      			</div>
	</div>

   	<div style="height:40px"></div>

</div>

</ion-content>

<!-- Footer bar -->
    <ion-footer-bar>
	    <div class="detailed-footer">

				<div class="overlay-message" ng-if="copied">
					URL copied to clipboard
				</div>

	    	<div ng-if="entityuser.checked == false" class="row">
				<div ng-if="task.total_supporters != 1" class="col col-left-botext">
					<h1>{{task.total_supporters}} supporters</h1>
				</div>
				<div ng-if="task.total_supporters == 1" class="col col-left-botext">
					<h1>{{task.total_supporters}} supporter</h1>
				</div>

				<div ng-if="task.end_user_supported == 1" class="col col-right-botext">
					<button class="button icon right ion-android-share-alt" ng-click="copyText(task)"></button>
					<button class="button button-clear activated" ng-click="Support(task)"><h3>Supported</h3></button>
				</div>
				<div ng-if="task.end_user_supported == 0" class="col col-right-botext">
					<button class="button icon right ion-android-share-alt" ng-click="copyText(task)"></button>
					<button class="button button-clear" ng-click="Support(task)"><h3>Support</h3></button>
				</div>
			</div>
	    </div>
	</ion-footer-bar>


</ion-view>
