<ion-view>
<ion-header-bar>
	<div class="buttons">
		<button ng-if="currentView == 'app.user-profile'" class="button button-icon ion-ios-arrow-back" ng-click="cancel()"></button>
		<button ng-if="currentView == 'app.my-profile'" class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
	</div>
	<div ng-if="currentView == 'app.user-profile'" class="title">Profile</div>
	<div ng-if="currentView == 'app.my-profile'" class="title">My profile</div>
	<div class="buttons">
	    <button class="button button-right button-icon ion-compose" nav-direction="forward" ng-click="newSuggestion()"></button>
	</div>
</ion-header-bar>

<ion-content style="background-color: #F5F5F5;">

	<div class="profile-topper">

		<!-- Header -->
		<div class="user-profile-header">
			<div class="row">
				<div class="col col-33">
					<img ng-src="http://graph.facebook.com/{{user.id}}/picture?width=300&height=300" style="width: 100%; padding-right: 20px;"/>
				</div>
				<div class="col">
					<h1>{{otherUser.name}}</h1>
					<div ng-if="otherUser.total_suggestions == 0" style="color: #999999">
						<i class="icon ion-star"></i>&nbsp;<h4>Make your first suggestion</h4>
					</div>
					<div ng-if="otherUser.total_suggestions > 0 && otherUser.total_suggestions < 5" style="color: #16a8c6">
						<i class="icon ion-star"></i>&nbsp;<h6>Fixer</h6>
					</div>
					<div ng-if="otherUser.total_suggestions > 4 && otherUser.total_suggestions < 15" style="color: #107b91">
						<i class="icon ion-star"></i>&nbsp;<i class="icon ion-star"></i>&nbsp;<h6>Futurist</h6>
					</div>
					<div ng-if="otherUser.total_suggestions > 14" style="color: #0a4e5c">
						<i class="icon ion-star"></i>&nbsp;<i class="icon ion-star"></i>&nbsp;<i class="icon ion-star"></i>&nbsp;<h6>Visionary</h6>
					</div>

					<!-- Stats -->
					<div class="user-stats">
						<div class="row stats-row">
							<div class="col col-center">
								<div ng-if="entity.total_suggestions != 1">
						 			<h1>{{otherUser.total_suggestions}}</h1>
						 			<h4>Suggestions</h4>
						 		</div>
						        <div ng-if="entity.total_suggestions == 1">
						        	<h1>{{otherUser.total_suggestions}}</h1>
						        	<h4>Suggestion</h4>
						        </div>
						    </div>
						    <div class="col col-center">
						    	<div ng-if="entity.total_supports != 1">
						    		<h1>{{otherUser.total_supports}}</h1>
						    		<h4>Supports</h4>
						    	</div>
						    	<div ng-if="entity.total_supports == 1">
						    		<h1>{{otherUser.total_supports}}</h1>
						    		<h4>Support</h4>
						    	</div>
						    </div>
						    <div class="col col-center">
						    	<div ng-if="entity.total_responses != 1">
						    		<h1>{{otherUser.total_responses}}</h1>
						    		<h4>Responses</h4>
						    	</div>
						    	<div ng-if="entity.total_responses == 1">
						    		<h1>{{otherUser.total_responses}}</h1>
						    		<h4>Response</h4>
						    	</div>
						    </div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

    <div class="multi">

    	<div ng-if="!tasks">
    		<div style="text-align: center; padding-top: 30%;">
    			<ion-spinner icon="circles"></ion-spinner></br>
    		</div>
    	</div>

    	<div ng-if="tasks">
    		<h5>Suggestions from {{otherUser.name}}</h5>

    		<div class="row wrap">
				<div ng-click="suggestionDetail(task)" nav-direction="forward" class="col mini-suggestion" ng-repeat="task in tasks | orderBy:'-timestamp' track by $index" ng-model="tasks[$index]">
					<div class="mini-image-container" ng-cloak>
						<img ng-src="{{task.image_path}}">
					</div>
					<div class="mini-ent">
						<h4>@{{task.entity_name}}</h4>
					</div>
					<div class="mini-title">
						<p>{{task.title}}<p>
					</div>
					<div class="mini-footer">
						{{task.total_supporters}}
					</div>
					<div class="mini-status">
						<div ng-if="task.response_status == 'DONE'" class="status-flag green">
			  				<i class="icon ion-reply"></i>
			  			</div>
			  			<div ng-if="task.response_status == 'CONSIDERING'" class="status-flag yellow">
			  				<i class="icon ion-reply"></i>
			  			</div>
			  			<div ng-if="task.response_status == 'NOT RIGHT NOW'" class="status-flag red">
			  				<i class="icon ion-reply"></i>
			  			</div>
			  			<div ng-if="task.response_status == 'Hoping for response'">
			  			</div>
			  		</div>
				</div>
				<div ng-if="currentView == 'app.my-profile'" ng-click="newSuggestion()" nav-direction="forward" class="col mini-suggestion new" style="text-align: center;">
					<div class="mini-image-container" ng-cloak>
						<img ng-src="{{task.image_path}}">
					</div>
					<div class="mini-ent"></div>
					<div class="mini-title">
						<h3>Create a new suggestion</h3>
					</div>
					<div class="mini-footer"></div>
				</div>
			</div>

		</div>
	</div>


</ion-content>
</ion-view>
