<ion-view>
  <ion-content scroll="true">
    <div class="welcome">
        <div class="welcome-cancel">
          <button class="button button-icon ion-android-close" ng-click="close()"></button>
        </div>
          <img ng-src="img/icon_512_transparent.png" style="width: 100px;">
        <br>
          <h3 style="font-size: 180%;">Welcome to Plural</h3>
        <br><br>
          <h1>Hello {{user.name.split(' ')[0]}}</h1>
          <p>Thank you for signing up as a tester!</p>
        <br>
          <p>Only a handful of people have the app so there will be very little content to begin with.</p>
        <br>
          <p>Please send any thoughts or feedback you have to hello@plural.co</p>
        <br>
          <p>You can also make suggestions @Plural from Settings.</p>
        <br>
          <p>Start by creating a new suggestion, or read an overview of the app below.</p>
        <br><br>
          <button class="button button-clear" ng-click="newSuggestion()"><h3>Create a new suggestion</h3></button>
        <br><br><br>
          <h2>- An overview of Plural -</h2>
        <br><br>
          <h5>Side menu</h5>
          <h4>Opened with the menu button in the top left, it lets you navigate around the app.</h4>
        <br><br>
          <h5>Stream</h5>
          <h4>The Stream shows suggestions for places that you follow. You can also support and share suggestions from there.</h4>
        <br><br>
          <h5>New suggestion</h5>
          <h4>You can create a new suggestion from the Side menu, the compose button in the top right, and from SUGGEST@ buttons which you'll find next to places.</h4>
        <br><br>
          <h5>Explore Suggestions</h5>
          <h4>Shows you all the suggestions on Plural ranked by the total number of supporters.</h4>
        <br><br>
          <h5>Explore Places</h5>
          <h4>Lets you explore places on Plural. You'll see places within 50m of your current location and you can search for other places too.</h4>
        <br><br>
        <h5>My profile</h5>
          <h4>How you appear on Plural, including how many suggestions you've made, how many supports you've earned, how many responses you've received, and your level!</h4>
        <br><br>
          <h5>Settings</h5>
          <h4>For logging out and logging in, and for making suggestions @Plural :)</h4>
    </div>
  </ion-content>
</ion-view>
