<!DOCTYPE html>
<html ng-app="Plural" ng-controller="SuggestionCtrl">
  <head>
      <title>Plural - Suggestion</title>
      <base href="/s/">
      <link rel="icon" type="image/png" href="/site/favicon.ico">
      <link rel="stylesheet" type="text/css" href="/s/css/style.css">
      <meta name="fragment" content="!">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
      <script src="/s/js/app.js"></script>
      <meta property="og:title" content="A suggestion on Plural" />
      <meta property="og:site_name" content="Plural"/>
      <meta property="og:url" content="http://www.plural.co/s" />
      <meta property="og:description" content="This is a suggestion to fix a problem or make something better. Login with Facebook to support the suggestion if you want it to happen. Plural gives you an easy way to make suggestions to fix problems and improve things. Suggestions are sent straight to the people that can make them happen. People support suggestions they want to see happen, and Plural tries to get the businesses and organizations to respond to suggestions." />
      <meta property="fb:app_id" content="478193915690433" />
      <meta property="og:image" content="http://www.plural.co/site/img/s-og-image.png" />
      <!-- Facebook -->
      <script src="/s/js/openfb.js"></script>
      <script src="/s/js/ngopenfb.js"></script>
      <!-- Font licenses -->
      <!--
      /**
       * @license
       * MyFonts Webfont Build ID 3064523, 2015-07-25T15:39:48-0400
       *
       * The fonts listed in this notice are subject to the End User License
       * Agreement(s) entered into by the website owner. All other parties are
       * explicitly restricted from using the Licensed Webfonts(s).
       *
       * You may obtain a valid license at the URLs below.
       *
       * Webfont: HelveticaNeueLTStd-Lt by Linotype
       * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-45-light/
       *
       * Webfont: HelveticaNeueLTStd-UltLt by Linotype
       * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-25-ultra-light/
       *
       * Webfont: HelveticaNeueLTStd-Th by Linotype
       * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-35-thin/
       *
       * Webfont: HelveticaNeueLTStd-Md by Linotype
       * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-65-medium/
       *
       *
       * License: http://www.myfonts.com/viewlicense?type=web&buildid=3064523
       * Licensed pageviews: 250,000
       * Webfonts copyright: Copyright &#x00A9; 1988, 1990, 1993, 2002 Adobe Systems
       * Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen
       * AG. All rights reserved.
       *
       * © 2015 MyFonts Inc
      */

      -->
      <link rel="stylesheet" type="text/css" href="/s/css/MyFontsWebfontsKit.css">
  </head>
<body>

  <div class="outer-container">

    <div class="inner-container">
      <div class="top-logo">
        <a href="/" target="_blank" onClick="_gaq.push(['_trackEvent', '/s', 'Logo click']);">
          <img src="/s/img/logo.png">
        </a>
      </div>

      <!-- Menu -->
      <div class="left">
        <div class="logo">
          <a href="/" target="_blank" onClick="_gaq.push(['_trackEvent', '/s', 'Logo click']);">
            <img src="/s/img/logo.png">
          </a>
        </div>
        <div class="menu">
          <div class="menu-item a" ng-if="loggedIn == 1">
            <img ng-src="http://graph.facebook.com/{{user.id}}/picture?width=300&height=300"/><h4>{{user.name}}</h4>
          </div>
          <div class="menu-item a" ng-if="loggedIn == 0" ng-click="$parent.message = !message" onClick="_gaq.push(['_trackEvent', '/s', 'What is this? click']);">
            <h3>What is this?</h3>
          </div>
          <div class="menu-item b" ng-click="fbLogin()" ng-if="loggedIn == 0" onClick="_gaq.push(['_trackEvent', '/s', 'Login with Facebook click']);">
            <h3>Login with Facebook</h3>
          </div>
          <div class="menu-item b" ng-click="fbLogout()" ng-if="loggedIn == 1" onClick="_gaq.push(['_trackEvent', '/s', 'Logout click']);">
            <h3>Logout</h3>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="right">

        <div class="overlay-message" ng-if="!suggestion" ng-hide="message">
          <h2>This page lets you view suggestions on <p>Plural</p>.</h2>
          <br><br>
          <h2>Plural is a new app which gives you an easy way to make specific suggestions to fix problems and improve products and services.</h2>
          <br><br>
          <h2>Suggestions are sent straight to the businesses and organizations that can make them happen.</h2>
          <br><br>
          <h2>People support suggestions they want to see happen, and Plural tries to get the businesses and organizations to respond to suggestions with feedback.</h2>
          <br><br>
          <h2>Learn more about Plural and sign up for early access </h2><a href="/" target="_blank"><h3>here</h3></a><h2>. Or send us an email at </h2><p>hello@plural.co</p><h2>.</h2>
          <br><br>
          <h3 ng-click="$parent.message = !message">- Close -</h3>
        </div>
        <!-- Fake suggestion -->
        <div class="suggestion" ng-if="!suggestion">
          <div class="no-suggestion-message">
            <p>No suggestion found :'-(</p>
            <br><br>
            <h2>The suggestion id in the URL doesn't match a suggestion on Plural. That's a shame.</h2>
            <br>
            <h2>Instead of supporting a genius idea to improve the world, you can <a href="/"><h3>visit our website</h3></a>.</h2>
          </div>
          <div class="suggestion-img-container" style="box-shadow: none;">
          </div>
          <div class="fake-suggestion-timestamp">&#9608;&#9608;</div>
          <div class="fake-suggestion-username">&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</div>
          <div class="fake-suggestion-entity">&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</div>
          <div class="fake-suggestion-title">&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</div>
          <div class="fake-suggestion-description">&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</div>
          <div class="fake-suggestion-supporters">&#9608;&#9608; &#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;&#9608;</div>
          <div class="fake-suggestion-yesbutton"></div>
        </div>

          <!-- Real suggestion -->
          <div class="suggestion" ng-repeat="suggestion in suggestion" ng-if="suggestion.title">
            <div class="overlay-message" ng-hide="$parent.message">
              <h2>This is a suggestion on <p>Plural</p>.</h2>
              <br><br>
              <h2>Plural is a new app which gives you an easy way to make specific suggestions to fix problems or improve products and services.</h2>
              <br><br>
              <h2>Below, </h2><p>{{suggestion.user_name}}</p><h2> is making a suggestion to </h2><p>{{suggestion.entity_name}}</p><h2> saying: "</h2><p>{{suggestion.title}}</p><h2>"</h2>
              <br><br>
              <div ng-if="suggestion.total_supporters > 1">
                <p>{{suggestion.total_supporters}}</p><h2> people currently support this suggestion. If you think this suggestion should get done, </h2><h3 ng-click="fbLoginSupport()" onClick="_gaq.push(['_trackEvent', '/s', 'What is this? Login to support click']);">login with Facebook and support it.</h3>
              </div>
              <div ng-if="suggestion.total_supporters == 1">
                <p>{{suggestion.total_supporters}}</p><h2> person currently supports this suggestion. If you think this suggestion should get done, <h2><h3 ng-click="fbLoginSupport()" onClick="_gaq.push(['_trackEvent', '/s', 'What is this? Login to support click']);">login with Facebook and support it.</h3>
              </div>
              <div ng-if="suggestion.total_supporters == 0">
                 <h2>If you think this suggestion should get done, </h2><h3 ng-click="fbLoginSupport()" onClick="_gaq.push(['_trackEvent', '/s', 'What is this? Login to support click']);">login with Facebook and support it.</h3>
              </div>
              <br>
              <h2>Plural tries to get businesses and organizations to respond to suggestions, giving feedback to supporters.</h2>
              <br><br>
              <h2>Learn more about Plural and sign up for early access </h2><a href="/" target="_blank" onClick="_gaq.push(['_trackEvent', '/s', 'What is this? Learn more about Plural click']);"><h3>here</h3></a><h2>. Or send us an email at </h2><p>hello@plural.co</p><h2>.</h2>
              <br><br>
              <h3 ng-click="$parent.$parent.message = !message">- Close -</h3>
            </div>

            <!-- Image IS present -->
            <div ng-if="suggestion.image_path">
                <div class="suggestion-img-container">
                  <img ng-src="{{suggestion.image_path}}">
                </div>
            </div>

            <!-- Image IS NOT present -->
            <div ng-if="!suggestion.image_path">
            </div>

            <!-- Meta data -->

            <div class="suggestion-meta">
              <div class="row">
                <div class="col">
                  <h2>{{suggestion.user_name}}</h2>
                </div>
                <div class="col col-right">
                  <h4>{{getDateString(suggestion.timestamp)}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h2>@{{suggestion.entity_name}}</h2>
                </div>
              </div>
            </div>

            <div class="suggestion-text">
              <div class="row">
                <div class="col">
                  <h1>{{suggestion.title}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>{{suggestion.description}}</p>
                </div>
              </div>
            </div>

            <div class="suggestion-response">
          				<div ng-if="suggestion.response_status == 'DONE'" class="status-flag green">
                				<div class="row">
          	      				<div class="col col-left">
          		      				<h2>{{suggestion.entity_name}}</h2>
          		      			</div>
          		      			<div class="col-right">
          		      				<h2>{{getDateString(suggestion.response_timestamp)}}</h2>
          		      			</div>
          		      		</div>
          		      		<div class="row">
          	      				<div class="col col-left">
          	      					<i class="icon ion-reply"></i>{{suggestion.response_status}}
                					</div>
                				</div>
          		      		<div class="row">
          	      				<div class="col col-left">
          	      					<p>{{suggestion.response}}</p>
                					</div>
                				</div>
                			</div>
                			<div ng-if="suggestion.response_status == 'CONSIDERING'" class="status-flag yellow">
                				<div class="row">
          	      				<div class="col col-left">
          	      					<h2>{{suggestion.entity_name}}</h2>
          	      				</div>
          		      			<div class="col-right">
          		      				<h2>{{getDateString(suggestion.response_timestamp)}}</h2>
          		      			</div>
          		      		</div>
          		      		<div class="row">
          	      				<div class="col col-left">
          	      					<i class="icon ion-reply"></i>{{suggestion.response_status}}
                					</div>
                				</div>
          		      		<div class="row">
          	      				<div class="col col-left">
          	      					<p>{{suggestion.response}}</p>
                					</div>
                				</div>
                			</div>
                			<div ng-if="suggestion.response_status == 'NOT RIGHT NOW'" class="status-flag red">
                				<div class="row">
          	      				<div class="col col-left">
          		      				<h2>{{suggestion.entity_name}}</h2>
          	      				</div>
          		      			<div class="col-right">
          		      				<h2>{{getDateString(suggestion.response_timestamp)}}</h2>
          		      			</div>
          	      			</div>
          	      			<div class="row">
          	      				<div class="col col-left">
          	      					<i class="icon ion-reply"></i>{{suggestion.response_status}}
                					</div>
                				</div>
          	      			<div class="row">
          	      				<div class="col col-left">
          	      					<p>{{suggestion.response}}</p>
                					</div>
                				</div>
                			</div>
                			<div ng-if="suggestion.response_status == 'Hoping for response'" class="status-flag grey">
                				<div class="row">
                					{{suggestion.response_status}} from {{suggestion.entity_name}}
                				</div>
                			</div>
          	</div>

            <div class="suggestion-footer">

              <div class="col" ng-if="suggestion.total_supporters == 1">
                <h2>{{suggestion.total_supporters}} supporter</h2>
              </div>
              <div class="col" ng-if="suggestion.total_supporters > 1">
                <h2>{{suggestion.total_supporters}} supporters</h2>
              </div>
              <div class="col" ng-if="suggestion.total_supporters == 0">
              </div>

              <div class="col-right">
                <div ng-if="loggedIn == 0">
                  <div class="col">
          					<button class="button button-clear" ng-click="fbLoginSupport()" onClick="_gaq.push(['_trackEvent', '/s', 'Footer Login to support click']);"><h3>Login with Facebook to support</h3></button>
          				</div>
                </div>
                <div ng-if="loggedIn == 1">
                  <div ng-if="suggestion.end_user_supported == 1" class="col">
          					<button class="button button-clear activated" ng-click="Support(suggestion)" onClick="_gaq.push(['_trackEvent', '/s', 'Footer un-support click']);"><h3>Supported</h3></button>
          				</div>
          				<div ng-if="suggestion.end_user_supported == 0" class="col">
          					<button class="button button-clear" ng-click="Support(suggestion)" onClick="_gaq.push(['_trackEvent', '/s', 'Footer support click']);"><h3>Support</h3></button>
          				</div>
                </div>
              </div>
            </div>

            <div class="suggestion-footer-micro">

            <div class="row">
              <div class="col" ng-if="suggestion.total_supporters == 1">
                <h2>{{suggestion.total_supporters}} supporter</h2>
              </div>
              <div class="col" ng-if="suggestion.total_supporters > 1">
                <h2>{{suggestion.total_supporters}} supporters</h2>
              </div>
              <div class="col" ng-if="suggestion.total_supporters == 0">
              </div>

              <div class="col-right">
                <div ng-if="loggedIn == 1">
                  <div ng-if="suggestion.end_user_supported == 1" class="col">
          					<button class="button button-clear activated" ng-click="Support(suggestion)" onClick="_gaq.push(['_trackEvent', '/s', 'Footer un-support click']);"><h3>Supported</h3></button>
          				</div>
          				<div ng-if="suggestion.end_user_supported == 0" class="col">
          					<button class="button button-clear" ng-click="Support(suggestion)" onClick="_gaq.push(['_trackEvent', '/s', 'Footer support click']);"><h3>Support</h3></button>
          				</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-right">
                <div ng-if="loggedIn == 0">
                  <div class="col">
          					<button class="button button-clear" ng-click="fbLoginSupport()" onClick="_gaq.push(['_trackEvent', '/s', 'Footer Login to support click']);"><h3>Login with Facebook to support</h3></button>
          				</div>
                </div>
              </div>
            </div>

          </div>
          <!-- close Suggestion -->

        </div>

      </div>
    </div>
    <!-- GA -->
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-63996704-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</body>
</html>
